<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search search-value = "$ctrl.searchValue" make-search="$ctrl.makeSearch"><h5><em>search</em> component goes here</h5></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player data ="$ctrl.currentVideo" ><h5><em>videoPlayer</em> component goes here</h5></video-player>
    </div>
    <div class="col-md-5">
      <video-list data = "$ctrl.videos" select-vid="$ctrl.selectVideo"><h5><em>videoList</em> component goes here</h5></video-list>
    </div>
  <div>
</div>
